.idea
playground.dahoam
server/utils/static_assets.go
server/util/static_assets.go
c.out
coverage.html
playground.upx
gnol
*.log
/cmd/gnol-tools/gnol-tools
/deploy.sh
/doc/ideas
__deleteme.db
gnol_sqlite.db
