<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GNOL</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>
<body>
{{ template "banner"}}
{{ template "navbar" .}}
<section class="section">
    <div class="container">
        <div class="columns">
{{ with .ComicList }}
    {{ range $idxx, $v := . }}
            {{ if mod $idxx 4}} </div><div class="columns"> {{end}}
            <div class="column is-3">
                <div class="tile is-parent">
                    <div class="tile is-child card">
                        <div class="card-image">
                            <figure class="image is-fullwidth">
                                <img src="data:image/png;base64,{{ $v.CoverImageBase64 }}" alt="Red dot" />
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <p ><b>{{ $v.Name }}</b><br>Page: {{inc $v.LastPage}}/{{$v.NumPages}} </p>
                            </div>
                            {{ range $idxx, $v := .Tags }}
                                <span class="button  is-small is-info is-light">{{.}}</span>
                            {{end}}
                        </div>
                        <footer class="card-footer">
                            <a href="/comics/{{$v.Id}}/continue/{{$v.LastPage}}" class="card-footer-item">Read/continue</a>
                            <a href="/comics/{{$v.Id}}/edit" class="card-footer-item" >Edit</a>
                            <!-- a href="" class="card-footer-item" onclick="return deleteComic({{$v.Id}});">Edit</a -->
                        </footer>
                    </div>
                </div>
            </div>
    {{ end }}
{{ end }}
            </div>
    </div>
</section>

</body>
</html>