<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="/static/js/command.js"></script>
    <script type="text/javascript" src="/static/js/htmx.min.js"></script>
    <script>


        function processCommand(evt) {
            console.log("The transfer is complete.");
            processResponse(evt.target.response)
        }

        function processError(evt) {
            console.log("The transfer failed.");
        }

        function sendForm() {
            $.ajax({
                //url: '',
                type: 'post',
                dataType: 'json',
                data: $('form#editForm').serialize(),
                success: function (response) {
                    processResponse(response)
                },
                error(resp) {
                    console.log('Upload error\n' + resp);
                },
            });
        }

        function shareSeries(comicId, targetUser) {
            $.ajax({
                url: '/share/series/' + comicId + "/" + targetUser,
                type: 'put',
                success: function (response) {
                    processResponse(response)
                },
                error(resp) {
                    console.log('Sharing Error\n' + resp);
                },
            });
        }

    </script>
</head>
<body>
{{ template "banner"}}
{{ template "navbar" .}}

<section class="section">
    <div class="container">
        <div class="block">
            <h1 class="title">Edit Series</h1>
            <form id="editForm">
                <div class="field">
                    <input type="hidden" name="seriesId" value="{{.Series.Id}}">
                    <label class="label">Name</label><input type="text" name="name" value="{{.Series.Name}}"/>
                    <label class="label">nsfw</label> <input type="checkbox"
                                                             name="nsfw" {{ if .Series.Nsfw}} checked {{end}} />
                    <label class="label">OrderNumber</label> <input type="number" name="orderNum"
                                                                    value="{{.Series.OrderNum}}"/>
                    <div>
                        <button class="button is-primary is-light is-small is-responsive " onclick="sendForm(); return false;">Update Series</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="block">
            <h1 class="title">Story Arcs</h1>
            <form>
                <input type="hidden" name="SeriesId" value="{{.Series.Id}}">
                <label class="label">Story Arc</label>
                <div class="field has-addons">

                    <div class="control ">
                        <input class="input" name="Name" type="text" placeholder="Name of arc">
                    </div>
                    <div class="control">
                        <button hx-post="/series/x/{{.Series.Id}}/addArc"  hx-target="tbody" class="button is-info">
                            Append
                        </button>
                    </div>
                </div>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Count</th>
                    <th>Fandom Link</th>
                    <th>edit</th>
                </tr>
                </thead>
                <tbody hx-get="/series/x/{{.Series.Id}}/arcs" hx-trigger="load" hx-target="this" hx-swap="innerHTML">
                    <tr>
                        <td>0</td>
                        <td>Default</td>
                        <td>default arc for all comics</td>
                        <td></td>
                        <td>[x][e]</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="block">
            <h1 class="title">Series Tools</h1>
            - change image

            <form id="shareForm">
                <div class="field">
                    <select id="targetUserId">
                        {{range $user := .UserList}}
                            {{if ne $user.Id  $.Session.UserId}}
                                <option value="{{$user.Id}}">{{$user.Name}}</option>
                            {{end}}
                        {{end}}
                    </select>
                </div>
                <div>
                    <button class="button is-primary is-light is-small is-responsive "
                            onclick="shareSeries({{.Series.Id}},document.getElementById('targetUserId').value); return false;">
                        Share With User
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>

