<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read: XXXXXXXXXXXXXXXxxxx</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/static/css/my.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/hammer.js"></script>
    <script src="/static/js/jqviewer.js"></script>
</head>
<body>

<div id="dualPage"  >
    <div class="page1" style="text-align: right">
        <img class="pageimage"  src="/static/img/1.png" style="padding-right: 1px;" id="cv"/>
    </div>
    <div class="page2" style="text-align: left">
        <img class="pageimage" src="/static/img/3.png" style="padding-right: 1px" id="cv"/>
    </div>
</div>

<div id="singleFullPage"style="display: none" >
    <div style="text-align: center; width: 100%; height: 100vh;">
        <img class="pageimage"  src="/static/img/1.png" style="" id="cv"/>
    </div>
</div>

<div id="singleMaximized" style="display: none">
    <div style="width: 100vw - 8px;">
        <img class="maximized"  src="/static/img/3.png" style="" id="cv"/>
    </div>
</div>


<a href="#" class="float" id="menu-share">
    <i class="fa fa-cog my-float"></i>
</a>
<ul>
    <li>
        <a href="#" id="orientationStyleBtn">
            <i class="fa fa-arrows-alt-h my-float" id="orientationIcon"></i>
        </a>
    </li>
    <li>
        <a href="#" >
            <i class="fa fa-file-alt my-float"></i>
        </a>
    </li>
    <li>
        <a href="#" >
            <i class="fa fa-book my-float"></i>
        </a>
    </li>
    <li>
        <a href="#" onclick="enableFullScreen()">
            <i class="fa fa-expand my-float"></i>
        </a>
    </li>
    <li>
        <a href="#" onclick="showHelp()" >
            <i class="fa fa-question-circle my-float"></i>
        </a>
    </li>
</ul>

<!--
<div class="modal" id="modalHelp">
    <div class="modal-background"></div>
    <div class="modal-content">

        <article class="message">
            <div class="message-header">
                <p>Hello World</p>
                <button class="delete" id="closeHelp" aria-label="delete"></button>
            </div>
            <div class="message-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
            </div>
        </article>
    </div>
</div> -->


<script>
   // loadComic({{.Id}},{{.NumPages}});
</script>

</body>
</html>