<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gnol Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script type="text/javascript"  src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script  type="text/javascript" src="/static/js/webauthn.js"></script>
    <script  type="text/javascript" src="/static/js/base64.js"></script>
</head>
<body>
{{ template "banner"}}
{{ template "navbar"}}

<section class="section">
    <div class="container">

        <div class="columns is-mobile is-centered">
            <div class="column is-half">

                <div class="tabs is-medium is-toggle">
                    <ul>
                        <li id="enableClassicAuth" class="is-active">
                            <a>
                                <span>Password</span>
                            </a>
                        </li>
                        <li id="enableWebAuthn">
                            <a>
                                <span class="icon is-small"><i class="fas fa-key" aria-hidden="true"></i></span>
                                <span>Token</span>
                            </a>
                        </li>
                    </ul>
                </div>

                {{if .D}}
                    <div class="notification is-warning">
                        <strong>{{.D}}</strong>
                    </div>
                {{end}}

                <div id="classicAuthForm">
                <form action="/users/login" enctype=multipart/form-data method="post">
                    <div class="card">
                        <div class="card-content">

                            <div class="field">
                                <label class="label">Username</label>
                                <input class="input" type="text" name="username" placeholder="Username"><br>
                            </div>
                            <div class="field">
                                <label class="label">Password</label>
                                <input class="input" type="password" name="pass" placeholder="password"><br>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input type="submit" value="Login" class="button is-link">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                </div>

                <div id="classicWebAuthnForm" style="display:none">
                        <div class="card">
                            <div class="card-content">

                                <div class="field">
                                    <label class="label">Username</label>
                                    <input id="webauthnUserName" class="input" type="text" placeholder="Username"><br>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <button class="button is-link" onclick="login();">Login</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

        </div>
    </div>
</section>
<script  type="text/javascript" src="/static/js/gnol.js"></script>
</body>
</html>