<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GNOL</title>
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script>


        function processCommand(evt) {
            console.log("The transfer is complete.");
            processResponse(evt.target.response)
        }

        function processError(evt) {
            console.log("The transfer failed.");
        }

        function deleteComic(comicID) {
            var oReq = new XMLHttpRequest();
            oReq.addEventListener("loadend", processCommand);
            oReq.addEventListener("error", processError);
            oReq.open("DELETE", "/comics/delete/" + comicID);
            oReq.responseType = "json";
            oReq.send();
            return false //prevent default
        }

        function processResponse(resp) {
            if (resp.ReturnCode == 200) {
                switch (resp.Command) {
                    case 'redirect':
                        window.location.href = resp.Payload.Target;
                        break;
                    //TODO other commands
                }
            }
        }

    </script>
</head>
<body>
{{ template "banner"}}
{{ template "navbar" .}}
<section class="section">
    <div class="container">
        <div class="columns">
            {{ with .SeriesList }}
            {{ range $idxx, $v := . }}
            {{ if mod $idxx 4}} </div>
        <div class="columns"> {{end}}
            <div class="column is-3">
                <div class="tile is-parent">
                    <div class="tile is-child card">
                        <div class="card-image">
                            <figure class="image is-fullwidth">
                                <img src="data:image/png;base64,{{ $v.CoverImageBase64 }}" alt="Red dot"/>
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <p><b>{{ $v.Name }} <a href="/series/{{$v.Id}}/edit">
                                        <span class="icon is-small">
                                            <i class="fas fa-thin fa-pen"></i>
                                        </span>
                                        </a></b><br>Comics: {{$v.ComicsInSeries}} </p>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="/series/{{$v.Id}}" class="card-footer-item">Open</a>
                        </footer>
                    </div>
                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>

</body>
</html>