<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GNOL</title>
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>
<body>
{{ template "banner"}}
{{ template "navbar" .}}
<section class="section">
    <div class="container">


            <h1>Profile</h1>

            <h2>Stats</h2>

            <div>
                <ol>
                    <li>Number of Comics in Lib</li>
                    <li>Number of Series in Lib</li>
                </ol>
            </div>


    </div>
</section>

</body>
</html>