<html>
<head>
    <script  type="text/javascript" src="/static/js/webauthn.js"></script>
    <script  type="text/javascript" src="/static/js/base64.js"></script>
    <script type="text/javascript"  src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
    <h1>Webauthn</h1>
    <h2>Register</h2>
        <button onclick="step1();">Click Me</button>
    <h2>Login</h2>
    <button onclick="login();">Click Me</button>

</body>


</html>